<?xml version="1.0"?>
<config>
    <modules>
        <SM_MyCart>
            <version>0.1.0</version>
        </SM_MyCart>
    </modules>
    <global>
        <models>
            <sm_mycart>
                <class>SM_MyCart_Model</class>
            </sm_mycart>
        </models>
        <blocks>
            <sm_mycart>
                <class>SM_MyCart_Block</class>
            </sm_mycart>
        </blocks>
        <helpers>
            <sm_mycart>
                <class>SM_MyCart_Helper</class>
            </sm_mycart>
        </helpers>
        <resources>
            <sm_mycart_setup>
                <setup>
                    <module>SM_MyCart</module>
                </setup>
            </sm_mycart_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <mycart>
                <use>standard</use>
                <args>
                    <module>SM_MyCart</module>
                    <frontName>mycart</frontName>
                </args>
            </mycart>
        </routers>
        <layout>
            <updates>
                <sm_mycart>
                    <file>mycart.xml</file>
                </sm_mycart>
            </updates>
        </layout>
    </frontend>
</config>