<?xml version="1.0"?>
<config>
    <modules>
        <SM_Wishlist>
            <version>0.1.0</version>
        </SM_Wishlist>
    </modules>
    <global>
    </global>
    <frontend>
        <routers>
            <sm_wishlist>
                <use>standard</use>
                <args>
                    <module>SM_Wishlist</module>
                    <frontName>wishlist</frontName>
                </args>
            </sm_wishlist>
        </routers>
    </frontend>
</config> 